@model IEnumerable<Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.className)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.classID }) |
            @Html.ActionLink("Details", "Details", new { id=item.classID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.classID })
        </td>
    </tr>
}

</table>
